main {
    display: flex;
    justify-content: center;
}

form, .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    width: 500px;
    height: 50px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    padding-left: 10px;
}

button {
    margin-top: 43px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 200px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #43a047;
}

button:active {
    background-color: #388e3c;
}